
.product-info {
	width: 390px;
}

.product-info__availability-and-article {
  display: flex;
  margin-top: 27px;
  margin-bottom: 30px;
}

.product-info__availability {
  width: 120px;
}

.product-info__article {
  width: 260px;

	text-align: right;
	color: #aeaeae;
}

.product-info__text {
  margin-bottom: 35px;
}

.product-info__buy-info {
  display: flex;
  margin-bottom: 60px;
}

.product-info__price {
  width: 80px;
  height: 23px;
  padding: 10px 14px;

	text-align: center;
	
	background-color: #e5e5e5;
}

.product-info__buy-button {
  width: 50px;
  height: 23px;
  padding: 10px 14px;

	color: #ffffff;
}

.product-info__set-title {
  margin-bottom: 30px;

	font-size: 24px;
	line-height: 30px;
}

.product-info__set-list {
  list-style: none;
}

.product-info__set-item {
  position: relative;

  padding-left: 20px;
}

.product-info__set-item::before {
  content: "";
  
  position: absolute;
  top: 8px;
  left: 2px;
  
  width: 8px;
  height: 8px;
  
  background-color: #000000;
  
  transform: rotate(45deg);
}