
.nav-menu {
	width: 100%;

	background-color: #000000;
}

.nav-menu__container {
  display: flex;
  justify-content: space-between;
  width: 940px;
  margin: 0 auto;
  padding: 0 10px;

  background-color: #000000;
}

.nav-menu--inner-page {
	display: flex;
	justify-content: space-between;
	width: 790px;
}
