
@import url(footer-contacts/footer-contacts.css);
@import url(footer-social/footer-social.css);
@import url(footer-copyright/footer-copyright.css);
@import url(map/map.css);

.footer {
	color: #ffffff;
	
	background-color: #212121;
	background-image: url("img/dark-background.jpg");
	background-position: 0 0;
  background-repeat: repeat;	
}

.footer--inner-page {
  box-shadow: inset 0px 30px 15px -10px #0f0f0f;
}

.footer--content-page {
  margin-top: 80px;
  
  box-shadow: inset 0px 30px 15px -10px #0f0f0f;
}

.footer__container {
	display: flex;
	width: 940px;
	margin: 0 auto;
	margin-top: 65px;
  padding: 0px 10px;
  padding-top: 60px;
  padding-bottom: 35px;
  
	background-color: #212121;
	background-image: url("img/dark-background.jpg");
	background-position: 0 0;
  background-repeat: repeat;	
}

.footer__container--inner-page {
  margin-top: 50px;
  padding: 0px 10px;
  padding-top: 55px;
  padding-bottom: 35px;
  
  box-shadow: inset 0px 30px 15px -10px #0f0f0f;
}
